<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slow-Share</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="frame">
        <h2 class="title">slow-share</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="input-wrapper">
                <label for="file">
                    <span class="material-symbols-outlined icon">description</span>
                </label>
                <input type="file" name="file" id="file" accept=".pdf,.doc,.docx,.ppt,.pptx,.xls,.xlsx,.jpg,.jpeg,.png,.gif,.bmp,.mp4,.avi,.mov,.mp3,.wav,.ogg,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/pdf,image/*,video/*,audio/*">
            </div>
            <button type="submit" class="btn">Hochladen</button>
        </form>
        <div class="files">
            {% for file in files %}
                <div class="file">
                    <div class="filetype">{{file.split(".")[-1]}}</div>
                    <div class="filename">{{file}}</div>
                    <div class="controls">
                        <div class="download">
                            <a href="/download/{{file}}"><span class="material-symbols-outlined icon">download</span></a>
                        </div>
                        <div class="delete">
                            <a href="/delete/{{file}}"><span class="material-symbols-outlined icon">delete</span></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

<style>
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }
</style>